<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>Session: @PokerSession.SessionDate at @PokerSession.PokerClubId</h4>
        </div>
        <div class="card-body employee-card text-center">
            <h3>Hands: </h3> @PokerSession.NrOfHands
            <h3>Result: </h3> @PokerSession.Result
            <h3>Comment: </h3><br />
            @PokerSession.Comment
        </div>
        <button class="btn btn-primary btn-sm mb-1"
        @onclick="@(async () => await PokerSessionQuickViewClicked.InvokeAsync(PokerSession))">
            Qick View
        </button>
        <button class="btn btn-outline-primary btn-sm mb-1" @onclick="(() => NavigateToDetails(PokerSession))">
            Full Details
        </button>
    </div>
</div>