<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>Session: @PokerSession.SessionDate at @PokerSession.PokerClubId</h4>
        </div>
        <div class="card-body employee-card text-center">
            <h3>Hands: </h3> @PokerSession.NrOfHands
            <h3>Result: </h3> @PokerSession.Result
            <h3>Comment: </h3><br />
            @PokerSession.Comment
        </div>
    </div>
</div>