@page "/sessions"
@inject NavigationManager _nav;

<PageTitle>@Title</PageTitle>
<h2>Sessions Overview</h2>

@if (PokerSessions == null)
{
    <p><em>Loading ... </em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Session Time</th>
                <th>Site</th>
                <th>Hands</th>
                <th>Result</th>
                <th>Comment</th>

                <a href="@($"pokerclubedit/")" class="btn btn-outline-primary align-self-end">Add Poker Session</a>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokerSession in PokerSessions)
            {
                <tr>
                    <td>@pokerSession.SessionDate</td>
                    <td>@pokerSession.PokerClubId</td>
                    <td>@pokerSession.NrOfHands</td>
                    <td>@pokerSession.Result</td>
                    <td>@pokerSession.Comment</td>
                    <td><button @onclick="@(() => _nav.NavigateTo($"sessionedit/{pokerSession.id}/{pokerSession.UserId}"))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}

