@page "/sessions"

<h2>Sessions Overview</h2>

@if (PokerSessions == null)
{
    <p><em>Loading ... </em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Date</th>
                <th>Hands</th>
                <th>Club</th>
                <th>Type</th>
                <th>Game</th>
                <th>Stakes</th>
                <th>Result</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokerSession in PokerSessions)
            {
                <tr>
                    <td>@pokerSession.SessionDate</td>
                    <td>@pokerSession.NrOfHands</td>
                    <td>@pokerSession.PokerClubId</td>
                    <td>@pokerSession.GameTypeId</td>
                    <td>@pokerSession.GameId</td>
                    <td>@pokerSession.StakesId</td>
                    <td>@pokerSession.Result</td>
                    <td>@pokerSession.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}