@page "/sessionedit/"
@page "/sessionedit/{Id}/{UserId}"

@if (!Saved)
{
    <section class="employee-detail">
        <h1 class="page-title">
            Details for session on @Session.SessionDate.ToShortDateString()
            at @Clubs.FirstOrDefault(c => c.PokerClubId == Session.PokerClubId).PokerClubName
        </h1>
        <br />
        <EditForm Model="@Session" OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="HandleInvalidSubmit">
            <div class="col-12 row">
                <div class="col-10 row">
                    <div class="col-12 col-xxl-8">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-8">
                                <InputDate id="sessionDate" class="form-control col-mid-8" @bind-Value="@Session.SessionDate" placeholder="Enter date here"></InputDate>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Club</label>
                            <div class="col-sm-8">
                                <div class="col-sm-8">
                                    <InputSelect id="pokerClub" @bind-Value="@Session.PokerClubId" class="form-control">
                                        @foreach (var club in Clubs)
                                        {
                                            <option value="@club.PokerClubId">@club.PokerClubName</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Gametype</label>
                            <div class="col-sm-8">
                                <InputText id="gameType" class="form-control col-md-8" @bind-Value="@Session.GameTypeId" placeholder="Enter Game type"></InputText>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hands</label>
                            <div class="col-sm-8">
                                <InputNumber id="nrOfHands" class="form-control col-md-8" @bind-Value="@Session.NrOfHands" placeholder="Enter Nr of hands"></InputNumber>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Result</label>
                            <div class="col-sm-8">
                                <InputNumber id="result" class="form-control col-md-8" @bind-Value="@Session.Result" placeholder="Enter Result"></InputNumber>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Comment</label>
                            <div class="col-sm-8">
                                <InputText id="comment" class="form-control col-md-8" @bind-Value="@Session.Comment" placeholder="Enter Comment"></InputText>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary me-1">Save Session</button>
                        @if (Session.NrOfHands != 0)
                        {
                            <button type="button" class="btn btn-danger my-1" onclick="@DeletePokerSession">Delete</button>
                        }
                    </div>
                    <div class="col-12 col-xxl-4">
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToOverview">Cancel</button>
            </div>

        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <button class="btn btn-outline-primary ms-1" @onclick="@NavigateToOverview">Back to overview</button>
}
